form{
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: space-between;
    padding: 20px 0px;
}
.MuiDialogTitle-root{
    border-bottom: 1px solid #8080802b;
    padding: 10px 0;
}

.MuiDialog-paperWidthSm{
    width: 450px;
    min-height: 350px;
}